name: Flat Store Automated Build Bot

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - '**.json'
  push:
    branches: [ "main" ]
    paths:
      - '**.json'

jobs:
  build-apps:
    runs-on: ubuntu-latest
    container:
      image: registry.flatpak.org/flathub/build-container:latest
      options: --privileged

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
             **.json
          separator: ","

      - name: Build Changed Flatpaks
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          IFS="," read -ra ADDR <<< "${{ steps.changed-files.outputs.all_changed_files }}"
          
          for manifest in "${ADDR[@]}"; do
            echo "--- Starting build for $manifest ---"
            
            APP_ID=$(basename "$manifest" .json)
            
            flatpak-builder-lint manifest "$manifest"
            
            flatpak-builder --repo=repo --force-clean build-dir "$manifest"
            
            flatpak build-bundle repo "${APP_ID}.flatpak" "$APP_ID"
            
            echo "--- Finished build for $manifest ---"
          done

      - name: Upload Bundles
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: flatpak-bundles
          path: "*.flatpak"
          retention-days: 5
